h2{
    text-align: center;
}

p {
    text-align: center;
}

footer a:hover { 
    text-decoration: none; opacity: .65; 
}

a{
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
    margin-top: 30px;
}

p.contact-info {
    position: relative;
    padding-left: 40px;
}

p.contact-info i.fa {
    position: absolute;
    left: 0;
    font-size: 18px;
    top: 5px;
}

input[type=email] {
    border: none;
    padding: 8px;
    width: 100%;
}

#wrap{
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%); 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 60px;
}

#signupform .form-control { 
    margin-bottom: 10px; 
}

.wrapper-main{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.logo{
    height: 40px;
    padding-right: 15px;
    padding-left: 5px;
}

.navbar{
    background: #012d50;
    background: linear-gradient(45deg, #FF4E50  0%, #f9d423  100%);
    background: -moz-linear-gradient(45deg, #FF4E50 0%, #f9d423  36a4 100%);
    background: -webkit-linear-gradient(45deg, #FF4E50 0%, #f9d423  100%);;
}

.signuperror .loginerror{
    color: red;
}

.signupsuccess .loginsuccess{
    color: green;
}

.footer-area{
    background: #012d50;
    background: linear-gradient(45deg, #FF4E50  0%, #f9d423  100%);
    background: -moz-linear-gradient(45deg, #FF4E50 0%, #f9d423  36a4 100%);
    background: -webkit-linear-gradient(45deg, #FF4E50 0%, #f9d423  100%);
    color: #fff;
    padding: 35px 0;
    margin-top: 0px;
}

.footer-area a {
    color: #fff;
}

.footer-width h5 {
    text-transform: uppercase;
    margin: 0 0 20px;
}

.footer-social-link a {
    display: inline-block;
    font-size: 20px;
    padding-right: 9px;
    margin-top: 14px;
}

.footer-width ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 24px;
}

.footer-subscription-form h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-subscription-form p {
    margin-top: 10px;
}

.sz{
    color: #fff ;
    font-size: 18px;
    font-weight: bold;
}

.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
    margin-bottom: 40px;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
}